<a href="https://colab.research.google.com/github/LuisPeMoraRod/AI-Laboratories/blob/main/Lab10_Perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Ejercicio 1
Programe el algoritmo del perceptrón genérico que reciba cualquier set de datos

In [6]:
# import libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import datasets

In [15]:
class Perceptron:
    def __init__(self, learning_rate=0.01, iters_max=1000):
        self.lr = learning_rate
        self.iters_max = iters_max
        self.activation_func = self.activation_func
        self.weights = None
        self.bias = None

    def fit(self, X, y):
        n_samples, n_features = X.shape

        # init parameters
        self.weights = np.zeros(n_features)
        self.bias = 0

        for _ in range(self.iters_max):

            for i, x_i in enumerate(X):

                linear_output = np.dot(x_i, self.weights) + self.bias
                y_predicted = self.activation_func(linear_output)

                error = y[i] - y_predicted
                if (error > 0):
                  update = self.lr * error

                  self.weights += update * x_i
                  self.bias += update

        y_predict = self.predict(X)
        e = y - y_predicted
        print(e)

    def predict(self, X):
        linear_output = np.dot(X, self.weights) + self.bias
        y_predicted = self.activation_func(linear_output)
        return y_predicted

    def activation_func(self, x):
        return np.where(x >= 0, 1, 0)

### Ejercicio 2
Ejecute el programa con un set de datos de al menos 1000 observaciones y 3 características.

El conjunto de datos se importa desde un repositorio de GitHub.

El conjunto de datos contiene atributos sobre las cuentas de seguros de un grupo de 1339 ciudadanos estadounidenses. Los atributos del conjunto de datos incluyen: edad, sexo, índice de masa corporal, cantidad de hijos, si es fumador/a, región, cargos.

Este conjunto de datos se va a utilizar para crear un modelo que prediga si una persona es fumadora o no, en función del resto de los atributos.

In [4]:
url = 'https://raw.githubusercontent.com/LuisPeMoraRod/AI-Laboratories/logistic_reg_exercise/logistic_reg_lab_data.csv'
df = pd.read_csv(url) #store in pandas dataframe
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
def accuracy(y_true, y_pred):
    accuracy = np.sum(y_true == y_pred) / len(y_true)
    return accuracy

X, y = datasets.make_blobs(n_samples=150, n_features=2, centers=2, cluster_std=1.05, random_state=2)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

p = Perceptron(learning_rate=0.01, iters_max=1000)
p.fit(X_train, y_train)
predictions = p.predict(X_test)

print("Perceptron classification accuracy", accuracy(y_test, predictions))

fig = plt.figure()
ax = fig.add_subplot(1, 1, 1)
plt.scatter(X_train[:, 0], X_train[:, 1], marker="o", c=y_train)

x0_1 = np.amin(X_train[:, 0])
x0_2 = np.amax(X_train[:, 0])

x1_1 = (-p.weights[0] * x0_1 - p.bias) / p.weights[1]
x1_2 = (-p.weights[0] * x0_2 - p.bias) / p.weights[1]

ax.plot([x0_1, x0_2], [x1_1, x1_2], "k")

ymin = np.amin(X_train[:, 1])
ymax = np.amax(X_train[:, 1])
ax.set_ylim([ymin - 3, ymax + 3])

plt.show()